.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 5px;
  }
  
  .day-box {
    background-color: #000000;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
  }

  .day-box:hover {
    cursor: pointer;
    outline: 2px solid #000000;
  }
  
  .day-info {
    display: none;
    position: fixed;
    z-index: 1;
    top: 30%; 
    left: 23%;
    transform: translate(-150%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 4px;
  }
  
  .day-box:hover .day-info {    
    width: 100px;
    display: block;
  }

  @media (max-width: 768px)
{
      .days-container
      {
          padding: 10px ;
      }
  }

 
  